<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %>
  </head>
  <body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
        <p>Add your favorite books below</p>
      </div>
    </div>
    <div class="container">
      <% for (const book of books) { %>
        <h3><%= book.title %></h3>
        <p><%= book.summary %></p><br>
      <% } %>
      <form action="/prove02/addBook" method="POST">
        <label for="title">Please enter the book's title:</label><br>
        <input type="text" name="title" placeholder="Title"><br>
        <label for="title">Please enter the book's summary:</label><br>
        <textarea name="summary" placeholder="Enter the summary here..." rows="4" cols="50"></textarea><br>
        <button type="submit">Add Book</button>
      </form>
    </div>
  </body>
</html>